on: [push]

name: Rust-Release-Nightly

jobs:
  build_and_test:
    name: Rust Build
    #runs-on: windows-latest
    runs-on: [self-hosted, windows]
    steps:
      - uses: actions/checkout@v4

      - name: Make private key file
        run: |
          echo $PWD
          echo '${{ secrets.SECURE_KEY }}' > ./assets/key
      - uses: actions-rs/cargo@v1
        with:
          command: build
          args: --release --all-features

      - uses: "marvinpinto/action-automatic-releases@latest"
        with:
          repo_token: "${{ secrets.GITHUB_TOKEN }}"
          automatic_release_tag: "nightly"
          prerelease: true
          title: "Development Build"
          files: |
            ./target/release/truenas_client.exe
